@using miniShop.Client.Dtos
@model IEnumerable<ProductResponse>
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-3">
                <div class="card">
                    <div class="card-body">
                        <img class="card-img-top" src="@item.ImageUrl">
                        <h3 class="card-title">@item.Name</h3>
                        <p>@item.Price</p>
                        <form asp-action="CreateOrder" method="post" asp-route-id="@item.Id" asp-route-name="@item.Name" asp-route-price="@item.Price">
                              <button class="btn btn-success">Hemen Al</button>
                        </form>
                      
                    </div>
                </div>
            </div>
        }
    </div>

</div>
